/*---*/
.btn_blue_small,   .btn_blue_small:hover,
.btn_yellow_small, .btn_yellow_small:hover,
.btn_orange_small, .btn_orange_small:hover,
.btn_red_small,    .btn_red_small:hover,
/*---*/
.btn_blue_mid,   .btn_blue_mid:hover,
.btn_yellow_mid, .btn_yellow_mid:hover,
.btn_orange_mid, .btn_orange_mid:hover,
.btn_red_mid,    .btn_red_mid:hover  {
	cursor: pointer;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	padding: 0 15px;
	border: solid 1px;
	border-radius: 3px;
	/* for firefox 3.6+ */
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 1px
		rgba(0, 0, 0, .08);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.btn_blue_verysmall,   .btn_blue_verysmall:hover {
	line-height: 20px;
	width: 80px;
}

.btn_blue_small,   .btn_blue_small:hover,
.btn_yellow_small, .btn_yellow_small:hover,
.btn_orange_small, .btn_orange_small:hover,
.btn_red_small,    .btn_red_small:hover {
	line-height: 28px;
	width: 100px;
}

.btn_blue_mid,   .btn_blue_mid:hover,
.btn_yellow_mid, .btn_yellow_mid:hover,
.btn_orange_mid, .btn_orange_mid:hover,
.btn_red_mid,    .btn_red_mid:hover  {
	line-height: 28px;
	width: 120px;
}

.btn_blue_mid, .btn_blue_small, .btn_blue_verysmall  {
	position: relative;
	background-color: #4fa8e6;
	border-radius: 4px;
	color: #fff;
	-webkit-transition: none;
	transition: none;
	box-shadow: 2px 2px 0 #96b6cc;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.btn_blue_mid:hover, .btn_blue_small:hover, .btn_blue_verysmall:hover  {
	background-color: #0068b2;
	box-shadow: 2px 3px 2px #6e6ea3;
}
.btn_blue_mid:active, .btn_blue_small:active, .btn_blue_verysmall:active {
	top: 3px;
	box-shadow: none;
}

.btn_red_mid, .btn_red_small {
	position: relative;
	background-color: #cc5a71;
	border-radius: 4px;
	color: #fff;
	-webkit-transition: none;
	transition: none;
	box-shadow: 2px 2px 0 #c68793;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.btn_red_mid:hover, .btn_red_small:hover {
	background-color: #86182e;
	box-shadow: 2px 3px 2px #bc1a38;
}
.btn_red_mid:active, .btn_red_small:active {
	top: 3px;
	box-shadow: none;
}

.btn_yellow_mid, .btn_yellow_small {
	position: relative;
	background-color: #c4c400;
	border-radius: 4px;
	color: #fff;
	-webkit-transition: none;
	transition: none;
	box-shadow: 2px 2px 0 #d8d88a;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.btn_yellow_mid:hover, .btn_yellow_small:hover {
	background-color: #a0a000;
	box-shadow: 2px 3px 2px #4f4f00;
}
.btn_yellow_mid:active, .btn_yellow_small:active {
	top: 3px;
	box-shadow: none;
}

.btn_orange_mid, .btn_orange_small {
	position: relative;
	background-color: #f28704;
	border-radius: 4px;
	color: #fff;
	-webkit-transition: none;
	transition: none;
	box-shadow: 2px 2px 0 #fcbe76;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.btn_orange_mid:hover, .btn_orange_small:hover {
	background-color: #835621;
	box-shadow: 2px 3px 2px #b5650a;
}
.btn_orange_mid:active, .btn_orange_small:active {
	top: 3px;
	box-shadow: none;
}

.btn_mid_unuse, .btn_small_unuse, btn_verysmall_unuse {
	/*cursor: pointer;*/
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	color: #bfbfbf;
	padding: 0 15px;
	border: solid 1px;
	border-radius: 3px;
	/* for firefox 3.6+ */
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 1px
		rgba(0, 0, 0, .08);

	border-color: #eaeaea #eaeaea #eaeaea;
	background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea),
		to(#eaeaea) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea',
		endColorstr='#eaeaea' ); /* for IE */
	background: -moz-linear-gradient(top, #eaeaea, #eaeaea);
}

.btn_small_unuse {
	line-height: 28px;
	width: 100px;
}

.btn_verysmall_unuse {
	line-height: 20px;
	width: 80px;
}

.btn_mid_unuse {
	line-height: 28px;
	width: 120px;
}