
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			200px; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu ul li a{
	width:			173px;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
	float:left;

}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.6em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			100%; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {


}
.sf-menu a {
	padding: 		.75em 1em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour */
	color:#ffffff;
}
.sf-menu li {
	cursor:pointer;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	border-color: #ffffff;
	/*background: -webkit-gradient( linear, left top, left bottom, from(#50A9E7), to(#307CB3) );*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50A9E7', endColorstr='#307CB3'); /* for IE */
	background: -moz-linear-gradient(top,  #50A9E7,  #307CB3); /* for firefox 3.6+ */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.08);
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.sf-menu li li {
	cursor:pointer;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	border-color: #ffffff;
	/*background: -webkit-gradient( linear, left top, left bottom, from(#50A9E7), to(#50A9E7) );*/
	background: #50a9e7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50A9E7', endColorstr='#50A9E7'); /* for IE */
	background: -moz-linear-gradient(top,  #50A9E7,  #50A9E7); /* for firefox 3.6+ */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.08);
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.sf-menu li li li {
	cursor:pointer;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	border-color: #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, from(#5d7198), to(#5d7198) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d7198', endColorstr='#5d7198'); /* for IE */
	background: -moz-linear-gradient(top,  #5d7198,  #5d7198); /* for firefox 3.6+ */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.08);
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.logout_btn{
	text-decoration:none;
	position:relative;
	cursor:pointer;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	border-color: #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, from(#50A9E7), to(#307CB3) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50A9E7', endColorstr='#307CB3'); /* for IE */
	background: -moz-linear-gradient(top,  #50A9E7,  #307CB3); /* for firefox 3.6+ */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.08);
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.sf-menu li:hover, .sf-menu li.sfHover, .logout_btn:hover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	cursor:pointer;
	background: #1C557D;
}




/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('/static/image/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('/static/image/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
