
#sched * {
    margin: 0;
    padding: 0;
    font-family: "メイリオ",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"ＭＳ Ｐゴシック",sans-serif;
    color: rgb(74, 59, 39);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#sched {
    width: 100%;
    min-width: 1022px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
}
#sched table {
	border-spacing: 0;
    border-collapse: collapse;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    max-width: 100%;

}
#sched hr {
    border: 0;
    border-top: 1px solid #eee;
}
.clear {
    clear: both;
}
.pad-l11 {
    padding-left: 11px !important;
}
.cselect{
	background: #ebebeb !important;
}
.float-L {
    float: left;
}
#seat_list_wrapper {
    position: relative;
    margin-right: 10px;
    padding-top: 67px;//45px;
}
#seat_list_wrapper, #seat_list, #seat_list table, #seat_list .prereserve td, #seat_list .refuse td {
    width: 120px; /* 230 LSG*/
}
#tableInfo {
    position: absolute;
    height: 67px; //45px;
    width: 120px;
    top: 0px;
}
#tableInfo p {
    margin: 0px 0px 0px 0px;
    padding-left: 6px;
    text-align: right;
    height: 22px;
}

#todayInfo {
    position: absolute;
    height: 67px; //45px;
    top: 0px;
}
#todayInfo p {
    margin: 0px 0px 0px 0px;
    padding-left: 6px;
    height: 22px;
}
#todayInfo span.rsv_title {
    font-size: 11px;
}
#todayInfo span.rsv_num {
    color: #FF0000;
    font-size: 16px;
}
#todayInfo span.rsv_txt {
    color: #FF0000;
    font-size: 12px;
}
#tt_hs_prev a, #tt_hs_next a {
    display: block;
    width: 22px;
    height: 450px;
    position: relative;
    background-color: #f0f0f0;
}
#tt_hs_prev .top, #tt_hs_next .top {
    position: absolute;
    top: 0;
    left: 0;
}
#tt_hs_prev .main, #tt_hs_next .main {
    position: absolute;
    top: 50%;
    left: 0;
}
#tt_hs_prev .bottom, #tt_hs_next .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
#tt_hs_next {
    margin-left: 6px;
}
#tt_sbar {
    width: 20px;
    margin-left: 6px;
    padding-top: 67px; //45px;
}
#tt_sbar_base {
    background-color: #f0f0f0;
    width: 20px;
    height: 193px;
    position: relative;
}
#tt_sbar_move {
    background-color: #297fcf;
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    filter: alpha(opacity=100);
    -moz-opacity: 1.00;
    opacity: 1.00;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
#tt_sbar_move .upper {
    background: transparent url(../timetable-img/bg_sp_vscrollbar_upper.png) no-repeat center center scroll;
    left: 20%;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 5px;
}
#tt_sbar_move .center {
    background: transparent url(../timetable-img/bg_sp_vscrollbar_center.png) no-repeat center center scroll;
    top: 50%;
    left: 20%;
    height: 13px;
    width: 13px;
    position: absolute;
}
#tt_sbar_move .lower {
    background: transparent url(../timetable-img/bg_sp_vscrollbar_lower.png) no-repeat center center scroll;
    left: 20%;
    height: 13px;
    width: 13px;
    position: absolute;
    bottom: 5px;
}
#tt_wrapper {
    width: 650px;
    height: 450px;
    overflow: hidden;
    position: relative;
}
#tt_body {
	width: 100%;
	overflow: hidden;
	position: relative;
}
#tt_body_inner {
	left: 0;
	top: 0;
	width: 100%;
}
#sched th {
	text-align: center;
	font-weight: normal;
}
#sched th,
#sched td {
	font-size: 13px;
	padding: 0;
	margin: 0;
	height: 29px;
	width: 29px;
	text-align: center;
}
#sched tr.mancounter{
	border-top: 1px solid rgb(214, 205, 196);
	background-color: #66ffff;
}
#sched tr.mancounter th {
	background-color: #66ffff;
}

#sched tr.hour{
	border-top: 1px solid rgb(214, 205, 196);
	border-right: 1px solid rgb(214, 205, 196);
}
#sched tr.hour th {
	border-left: 1px solid #202020;
	border-bottom: 1px solid rgb(214, 205, 196);
}
#sched tr th {
	border-left: 1px solid rgb(214, 205, 196);
	color: #000000;
	height: 20px;
	background-color: rgb(245, 242, 237);
}
#sched tr th.last {
	border-right: 1px solid rgb(214, 205, 196);
}
#sched tr th.oclock {
    border-left: 1px solid #202020;
}
#sched tr.empty th {
	height: 3px;
	line-height: 3px;
	background-color: #ffffff;
	border-left: 1px solid rgb(214, 205, 196);
}
#sched td {
	border-left: 1px solid #c2bba1;
	border-right-style: none;
}
#sched .empty th.oclock,
#sched td.oclock{
	border-left: 1px solid #202020; 	/*rgb(214, 205, 196)*/
}
#sched .empty th.last,
#sched td.last {
	border-right: 1px solid rgb(214, 205, 196);
}
#sched .empty th.disabled,
#sched td.disabled{
	background-color: #999999 !important;
}
#tt {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
#tt_body tr td {
	border-bottom: 1px solid #e6e6e6;
}
#tt_body tr.last td {
	border-bottom: 1px solid #444444;
}
#tt_body td {
	border-left: 1px solid rgb(214, 205, 196);
	border-right-style: none;
}
#sched .prereserve td {
    height: 29px;
    background-color: #fdf0c1;
}
#seat_list {
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}
#seat_list_inner {
    position: absolute;
    top: 0;
    left: 0;
}
#tt_body_inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
#seat_list .prereserve td {
    height: 29px;
    border: none;
    vertical-align: middle;
    text-align: left;
    padding-left: 12px;
    border-bottom: 1px solid #E6E6E6;
    background-color: #fdf0c1;
}
#sched .prereserve td {
    height: 29px;
    background-color: #fdf0c1;
}
#seat_list .bbottom {
    border-bottom: 1px solid #e6e6e6 !important;
}
#seat_list .reserve td.name {
    padding-left: 10px;
/*    width: 140px;
    _width: 150px; */
    width: 30px;
    _width: 40px;
    border-left: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
#seat_list .reserve td {
    border-bottom: 1px solid #e6e6e6;
    height: 29px;
}
#seat_list .reserve td.num {
    text-align: right;
    padding-right: 3px;
    border-left: 1px solid #e6e6e6;
    width: 30px; /* 70px */
}
td.time {
    cursor: pointer;
}
div.reserve, div.rsvblock{
	height:30px;
}
div.reserve,div.pre_reserve,div.pre_reserve_inner, div.suggest_reserve, div.suggest_reserve_inner{
	position:absolute;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	padding:0px;
	cursor: pointer;
	box-shadow:#e5e5e5 0 3px 0px 0 inset,#e5e5e5 3px 0 0px 0 inset,#d1d1d1 0 -3px 0px 0 inset,#d1d1d1 -3px 0 0px 0 inset;
	-webkit-box-shadow:#e5e5e5 0 3px 0px 0 inset,#e5e5e5 3px 0 0px 0 inset,#d1d1d1 0 -3px 0px 0 inset,#d1d1d1 -3px 0 0px 0 inset;
	-moz-box-shadow:#e5e5e5 0 3px 0px 0 inset,#e5e5e5 3px 0 0px 0 inset,#d1d1d1 0 -3px 0px 0 inset,#d1d1d1 -3px 0 0px 0 inset;
    z-index:110;
}
div.pre_reserve_inner{
	display:block;
}
div.reserve,div.pre_reserve_inner,div.suggest_reserve_inner, div.rsvblock{
	background-color:#808080;
}
div.pre_reserve_inner{
	background-color:#f28032;
}
div.pre_reserve_inner, div.suggest_reserve_inner{
	overflow:hidden;
}
div.reserve span, div.pre_reserve span, div.suggest_reserve span, div.rsvblock span{
	display:inline-block;
	padding-left:6px !important;
	color:#FFFFFF !important;
	overflow:hidden;
	white-space:nowrap;
	font-size: 13px;
}
.rsvflash {
	filter:alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}
div.reserve .namearea div {
    overflow: hidden;
    display: block;
    color: #ffffff !important;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 6px;
    height: 6px;
    right: 1px;
    bottom: 1px;
    background-color: transparent;
}
div.reserve.ui-draggable-dragging {
	z-index:999;
}
#dialog-form input { display:block; }
#dialog-form input.text { margin-bottom:12px; width:95%; padding: .4em; }
#dialog-form fieldset { padding:0; border:0; margin-top:25px; }
