<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head >
<title>{{control|default:''}} {{title|default:''}} | POS JoinPOS OES SelfOrder</title>
<meta name="keywords" content="{{title|default:''}},POS JoinPOS OES SelfOrder">
<meta name="description" content="{{control|default:''}} {{title|default:''}} POS JoinPOS OES SelfOrder">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/static/js/hoverIntent.js"></script>
<script type="text/javascript" src="/static/js/superfish.js"></script>
<script type="text/javascript" src="/static/js/event.js"></script>
<script type="text/javascript" src="/static/js/util.js"></script>
<script type="text/javascript" src="/static/js/commonCheck.js"></script>
{%if lang == "zh" %}
<script type="text/javascript" src="/static/js/string_zh.js"></script>
{%else%}
<script type="text/javascript" src="/static/js/string.js"></script>
{%endif%}

<link type="text/css" media="screen" rel="stylesheet" href="/static/css/redmond/jquery-ui-1.8.23.custom.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/superfish.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/object.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/button.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/class.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/table.css">

{% block head_javascript %}
{% endblock %}
</head>

<body>

<div id="top">
	<div id="logoImage"><a href="/"><img src="/static/image/joinposlog.png" alt="" height=40/></a></div>
	<div id="location" >
	{% if control%}
		{{control}}&nbsp;&gt;&nbsp;
	{% endif %}
	{{title}}</div>
</div>
<div id="mainMenu">

	<div id="container">
		<ul class="sf-menu">
			<li class="current">
				<a href="/">{{'home'|tr:lang}}</a>
			</li>
			<li><a href="/sysadmin/">会社リスト</a></li>
			<li><a href="/sysadmin/allshop">店舗全体リスト</a></li>
<!--
			<li><a href="/sysadmin/clear">店舗データ削除</a></li>
-->
			<li><a href="/sysadmin/calendar">休日設定</a></li>
			<li><a href="/sysadmin/tip">TIP</a></li>
<!--
	  {% if lang != "zh" %}
			<li><a href="/sysadmin/tip">TIP</a></li>
	  {% endif %}
-->
		</ul>
	</div>
</div><!-- "mainMenu" -->

<form method="get">
<div id="search_cond">

{% if sel_period >= 0 %}
<table width=100% height=40px>
	<tr><td>

  {% if not shops %}

都道府県 :
		<select name="sel_todouhuken" id="sel_todouhuken" onchange="submit(this.form)">
		    <option value="" selected>----</option>
		    <option value="01" {%if sel_todouhuken == "01" %}selected{%endif%}>北海道</option>
		    <option value="02" {%if sel_todouhuken == "02" %}selected{%endif%}>青森</option>
		    <option value="03" {%if sel_todouhuken == "03" %}selected{%endif%}>秋田</option>
		    <option value="07" {%if sel_todouhuken == "07" %}selected{%endif%}>福島</option>
		    <option value="11" {%if sel_todouhuken == "11" %}selected{%endif%}>埼玉</option>
		    <option value="12" {%if sel_todouhuken == "12" %}selected{%endif%}>千葉</option>
		    <option value="13" {%if sel_todouhuken == "13" %}selected{%endif%}>東京</option>
		    <option value="14" {%if sel_todouhuken == "14" %}selected{%endif%}>神奈川</option>
		    <option value="20" {%if sel_todouhuken == "20" %}selected{%endif%}>長野</option>
		    <option value="25" {%if sel_todouhuken == "25" %}selected{%endif%}>滋賀</option>
		    <option value="26" {%if sel_todouhuken == "26" %}selected{%endif%}>京都</option>
		    <option value="27" {%if sel_todouhuken == "27" %}selected{%endif%}>大阪</option>
		    <option value="34" {%if sel_todouhuken == "34" %}selected{%endif%}>広島</option>
		    <option value="35" {%if sel_todouhuken == "35" %}selected{%endif%}>山口</option>
		    <option value="37" {%if sel_todouhuken == "37" %}selected{%endif%}>香川</option>
		    <option value="40" {%if sel_todouhuken == "40" %}selected{%endif%}>福岡</option>
		    <option value="44" {%if sel_todouhuken == "44" %}selected{%endif%}>大分</option>
		    <option value="99" {%if sel_todouhuken == "99" %}selected{%endif%}>テスト</option>
		    <option value="00" {%if sel_todouhuken == "00" %}selected{%endif%}>全国</option>
	    </select>
  {%else%}

		SHOP :
		<select name="sel_shop_id" id="sel_shop_id" onchange="submit(this.form)">
			{% for meisai in shops %}
			    <option value="{{meisai.shop_id}}" {% if shop_id == meisai.shop_id %} selected {% endif %}>{{meisai.kname}}</option>
			{% endfor %}
	    </select>
  {%endif%}

	</td></tr>
</table>
{% endif %}

</div>
</form>


<div id="contents" align="left">
	{% block contents %}
	{% endblock %}

	{% block pagination %}
	{% endblock %}
</div>

<script type="text/javascript">
$(function(){
   $('ul.sf-menu').superfish();
});
</script>

{% block body_javascript %}
{% endblock %}
</body>
</html>
