{% extends "base.html" %}

{% block contents %}
<form method="POST">

<!-- 
<tr height="30">
  <td class="listtd1" width="150">ご担当者名</td>
  <td class="listtd2" width="400" align="left">{{item.0}}</td>
</tr>
<tr height="30">
  <td class="listtd1">ご担当者名（カタカナ）</td>
  <td class="listtd2">{{item.1}}</td>
</tr>
<tr height="30">
  <td class="listtd1">メールアドレス</td>
  <td class="listtd2">{{item.2}}</td>
</tr>
<tr height="30">
  <td class="listtd1">電話番号</td>
  <td class="listtd2">{{item.3}}</td>
</tr>
<tr height="30">
  <td class="listtd1">住所</td>
  <td class="listtd2">{{item.4}}</td>
</tr>
<tr>
  <td class="listtd1">ご希望</td>
  <td class="listtd2">
  	{% if item.5 == '1'%}説明に来て欲しい{%endif%}
  	{% if item.5 == '2'%}デモが見たい{%endif%}
  	{% if item.5 == '3'%}資料、カタログが欲しい{%endif%}
  	{% if item.5 == '4'%}早急に導入を検討{%endif%}
  	{% if item.5 == '5'%}その他{%endif%}
  </td>
</tr>
<tr>
  <td class="listtd1">問い合わせ内容</td>
  <td class="listtd2">{{item.6}}</td>
</tr>
-->

<table>
<tr>
	<td width=70 class="listtd1">担当者</td>
	<td width=250 class="listtd1">メールアドレス	</td>
	<td width=150 class="listtd1">電話番号</td>
	<td width=50 class="listtd1">ご希望</td>
	<td width=130 class="listtd1">電話番号</td>
	<td width=300 class="listtd1">問い合わせ内容</td>
</tr>

{% for meisai in items %}
<tr onclick="select_content('{{meisai.company_id}}')" id="{{meisai.company_id}}_tr" class="listcontent" >
  <td align="center">{{meisai.company_id}}</td>
  <td align="left">{{ meisai.kname }}</td>
  <td align="left">{{ meisai.admin_id }}</td>
  <td align="center">{{ meisai.lastno_shop }}</td>
  <td align="left">{{ meisai.telno }}</td>
  <td align="left">{{ meisai.address1 }}</td>
</tr>
{% endfor %}

<tr><td colspan="11" class="listline" ></td></tr>
</table>

<br><br>

<table>
<tr>
	<td width="100" align="right">
	　　<input type="button" value="修正" onclick="editcontent('/sysadmin/newcompany?company_id=',check_content)"  class="btsb">
	</td>
	<td width="50"></td>
	<td width="100" align="right">
	  <input type="button" value="新規" onClick="location.href='/sysadmin/newcompany'" class="btsb">
	</td>	  			
	<td width="300"></td>
	<td width="100" align="right">
	  <input type="button" value="店舗一覧" onclick="editcontent('/sysadmin/shoplist?company_id=',check_content)" class="btsb">
 	</td>
</tr>
</table>

</form>
{% endblock %}
