{% extends "base.html" %}

{% block contents %}
<form method="POST" id="allshop">

<table border="0" cellpadding="0" cellspacing="1" >
<tr>
	<td width=70 class="listtd1">SHOP_ID</td>
	<td width=150 class="listtd1">SHOP_NAME</td>
	<td width=120 class="listtd1">SHOP_ACCOUNT</td>
	<td width=200 class="listtd1">Address</td>
	<td width=80 class="listtd1">PrinterCount</td>
	<td width=80 class="listtd1">HandyCount</td>
	<td width=80 class="listtd1">導入日</td>
	<td width=80 class="listtd1">契約満期</td>
	<td width=80 class="listtd1">ASP振込み</td>
	<td width=30 class="listtd1">税区分</td>
	<td width=80 class="listtd1">RegiVer</td>
	<td width=80 class="listtd1">最終精算日</td>
</tr>

{% for meisai in items %}
<tr onclick="select_content('{{meisai.shop_id}}')" id="{{meisai.shop_id}}_tr" class="listcontent" >
  <td align="center">{{ meisai.shop_id }}</td>
  <td align="left"  >{{ meisai.kname }}</td>
  <td align="left"  >{{ meisai.admin_id }}</td>
  <td align="left"  >{{ meisai.address1 }}</td>
  <td align="center">{{meisai.print_cnt}}台</td>
  <td align="center">{{meisai.handy_cnt}}台</td>
  <td align="center">{{meisai.start_ymd}}</td>
  <td align="center">{{meisai.asp_last_month}}</td>
  <td align="center">{%if meisai.asp_hurikomi%}済み{%endif%}</td>
  <td align="center">{{meisai.etc_taxcode}}</td>
  <td align="center">{{meisai.regi_version|default:''}}</td>
  <td align="center">{{meisai.update_date|default:''}}</td>
</tr>
{% endfor %}

<tr><td colspan="15" class="listline" ></td></tr>
</table>

<br><br>

<input type="hidden" name="shop_id" id="shop_id" value="" />
<input type="button" value="{{''|tr:lang}}マスタ{{'btn_delete'|tr:lang}}" onclick="deletecontent('/sysadmin/masterclear?company_id=',check_content)"  class="btn_red_small">
<input type="button" value="{{''|tr:lang}}ヒストリ{{'btn_delete'|tr:lang}}" onclick="deletecontent('/sysadmin/historyclear?company_id=',check_content)"  class="btn_red_small">

</form>
{% endblock %}

{% block body_javascript %}
<script type="text/javascript">
function change_shopno(content){
	if(content==0){
		alert(unselected_content);
		return false;
	}
	//alert(url + "&staff_id=" + content);
	$('#shop_id').val(content);
	$('#allshop').submit();
}
</script>
{% endblock %}
