{% extends "base.html" %}

{% block contents %}
<form method="POST">
<input type="hidden" name="company_id" id="company_id" value="{{ company_id }}" />


<table>
 	<tr>
	    <td class="listtd1" width="250px">PL・FLのデータ取得　　仕入れデータ</td>
	    <td class="listtd2" width="500px">
			  <input type="radio" name="siire_option" value="0" checked="true">費用実績登録画面から
			  <input type="radio" name="siire_option" value="1" {%if items.0.it_shop_option.0  %}checked="true"{%endif%}>仕入れ管理から
	    </td>
	</tr>
 	<tr>
    	<td class="listtd1">PL・FLのデータ取得　　人件費データ</td>
    	<td class="listtd2">
			  <input type="radio" name="labor_option" value="0" checked="true">費用実績登録画面から
			  <input type="radio" name="labor_option" value="1" {%if items.0.it_shop_option.1 %}checked="true"{%endif%}>勤怠管理から
    	</td>
  	</tr>
 	<tr>
    	<td class="listtd1">販売管理のGroup別タブ</td>
    	<td class="listtd2">
			  <input type="radio" name="group_option" value="0" checked="true">表示する
			  <input type="radio" name="group_option" value="1" {%if items.0.it_shop_option.2 %}checked="true"{%endif%}>表示しない
    	</td>
  	</tr>
 	<tr>
    	<td class="listtd1">販売管理のテーブル別タブ</td>
    	<td class="listtd2">
			  <input type="radio" name="table_option" value="0" checked="true">表示する
			  <input type="radio" name="table_option" value="1" {%if items.0.it_shop_option.3 %}checked="true"{%endif%}>表示しない
    	</td>
  	</tr>
{% if lang == "jp" %}
 	<tr>
    	<td class="listtd1">ASP代の請求</td>
    	<td class="listtd2">
			  <input type="radio" id="asp_period1" name="asp_period" value="6" checked="true">WEB自動請求　　　　
		     前期の請求期限：<input type="text" id="asp_last_month" name="asp_last_month" value="{{items.0.asp_last_month}}"/><br>
			  <input type="radio" id="asp_perio2" name="asp_period" value="0" {%if items.0.asp_period == 0 %}checked="true"{%endif%}>請求書送付<br>
    	</td>
  	</tr>
 	<tr>
    	<td class="listtd1">ASP代の請求の振込区分</td>
    	<td class="listtd2">
			<select name="asp_hurikomi" id="asp_hurikomi">
			    <option value="0" {%if items.0.asp_hurikomi == 0%} selected {%endif%}>振込対象</option>
			    <option value="1" {%if items.0.asp_hurikomi == 1%} selected {%endif%}>振込済み</option>
			    <option value="2" {%if items.0.asp_hurikomi == 2%} selected {%endif%}>延滞停止</option>
			    <option value="3" {%if items.0.asp_hurikomi == 3%} selected {%endif%}>アクセス禁止</option>
		    </select>
		    <!-- 請求書のURL -->
		    <input type="text" id="pdf_name" name="pdf_name" value="{{items.0.address3}}"/><br>
    	</td>
  	</tr>
 	<tr>
    	<td class="listtd1">顧客情報サーバ</td>
    	<td class="listtd2">
		    <input type="text" id="customer_url" name="customer_url" size="60" value="{{items.0.customer_url|default:''}}"/><br>
    	</td>
  	</tr>
{%else%}
	<input type="hidden" name="asp_last_month" value=""/>
	<input type="hidden" name="asp_period"     value="0"/>
    <input type="hidden" name="asp_hurikomi"   value="1"/>
    <input type="hidden" name="customer_url"   value=""/>
{%endif%}
</table>

<br>

<table>
<tr>
	<td width=60 class="listtd1">店舗ID</td>
	<td width=100 class="listtd1">店舗名	</td>
	<td width=450 class="listtd1">ASP権限</td>
	<td width=150 class="listtd1">プリンタ</td>
	<td width=150 class="listtd1">Printer<br>Handy数</td>
	<td width=120 class="listtd1">テーブル状態</td>
	<td width=80 class="listtd1">多国語</td>
</tr>

{% for meisai in items %}
<tr class="listcontent" >
  <td align="center">
	<input type="hidden" name="shop_id" id="shop_id" value="{{ meisai.shop_id }}" />
  	{{meisai.shop_id}}
  </td>
  <td>{{ meisai.kname }}</td>
  <td align="left">
    <input type="checkbox" name="asp_1" value="{{meisai.shop_id}}" {%if meisai.it_setup.0 %} checked {%endif%}/>POSクラウド&nbsp;&nbsp;
    <input type="checkbox" name="asp_2" value="{{meisai.shop_id}}" {%if meisai.it_setup.1 %} checked {%endif%}/>勤怠・人件費&nbsp;&nbsp;
    <input type="checkbox" name="asp_3" value="{{meisai.shop_id}}" {%if meisai.it_setup.2 %} checked {%endif%}/>予約・顧客管理
	<br>
    <input type="checkbox" name="asp_6"  value="{{meisai.shop_id}}" {%if meisai.it_setup.5 %} checked {%endif%}/>ポイント管理&nbsp;&nbsp;
    <input type="checkbox" name="asp_16" value="{{meisai.shop_id}}" {%if meisai.it_setup.16 %} checked {%endif%}/>ポイント支払い
	<br>
    <input type="checkbox" name="asp_7"  value="{{meisai.shop_id}}" {%if meisai.it_setup.6 %} checked {%endif%}/>セルフ端末&nbsp;&nbsp;
    <input type="checkbox" name="asp_71" value="{{meisai.shop_id}}" {%if meisai.it_setup.7 %} checked {%endif%}/>飲み放題なし&nbsp;&nbsp;
    <input type="checkbox" name="up_stop" value="{{meisai.shop_id}}" {%if meisai.up_stop %} checked {%endif%}/>アップロード禁止
	<br>
    <input type="checkbox" name="audit" value="{{meisai.shop_id}}" {%if meisai.audit_kbn %} checked {%endif%}/>監査データアップ&nbsp;&nbsp;
    <input type="checkbox" name="asp_8" value="{{meisai.shop_id}}" {%if meisai.it_setup.8 %} checked {%endif%}/>TableLayout表示
	<br>
    <input type="checkbox" name="asp_10" value="{{meisai.shop_id}}" {%if meisai.it_setup.10 %} checked {%endif%}/>顧客人数SKIP&nbsp;&nbsp;
    <input type="checkbox" name="asp_11" value="{{meisai.shop_id}}" {%if meisai.it_setup.11 %} checked {%endif%}/>在庫登録維持

{%if lang == "jp" %}
	<br>
    <input type="checkbox" name="asp_9"  value="{{meisai.shop_id}}" {%if meisai.it_setup.9 %} checked {%endif%}/>月間FLの売上を税抜き&nbsp;&nbsp;
    <input type="checkbox" name="asp_12" value="{{meisai.shop_id}}" {%if meisai.it_setup.12 %} checked {%endif%}/>全てのレポートに税抜き
{%endif%}

	<br>
{%if lang == "jp" %}
    <input type="checkbox" name="asp_13" value="{{meisai.shop_id}}" {%if meisai.it_setup.13 %} checked {%endif%}/>点検レポート&nbsp;&nbsp;
    <input type="checkbox" name="asp_14" value="{{meisai.shop_id}}" {%if meisai.it_setup.14 %} checked {%endif%}/>店舗日報&nbsp;&nbsp;
    <input type="checkbox" name="asp_15" value="{{meisai.shop_id}}" {%if meisai.it_setup.15 %} checked {%endif%}/>サブレジ有り
	<br>
    <input type="checkbox" name="asp_17" value="{{meisai.shop_id}}" {%if meisai.it_setup.17 %} checked {%endif%}/>印紙税承認済&nbsp;&nbsp;
    <input type="checkbox" name="asp_18" value="{{meisai.shop_id}}" {%if meisai.it_setup.18 %} checked {%endif%}/>券売機使用
    <input type="checkbox" name="asp_19" value="{{meisai.shop_id}}" {%if meisai.it_setup.19 %} checked {%endif%}/>厨房用言語使用
{%endif%}
	<br>
    <input type="checkbox" name="asp_4" value="{{meisai.shop_id}}" {%if meisai.it_setup.3 %} checked {%endif%}/>TabOption表示順⇒IDに変更(あとで削除すること) 　　　
	<br>
    <input type="checkbox" name="asp_5" value="{{meisai.shop_id}}" {%if meisai.it_setup.4 %} checked {%endif%}/>WEB注文　　　　

  </td>
  <td>
    <input type="checkbox" name="printer_image_file" value="{{meisai.shop_id}}" {%if meisai.printer_image_file%} checked {%endif%}/>ロゴ有り<br>
    <input type="checkbox" name="grouping_drink" value="{{meisai.shop_id}}" {%if meisai.print_ticket_grouping and meisai.print_ticket_grouping.0 %} checked {%endif%}/>Drink TicketGroup<br>
    <input type="checkbox" name="grouping_food" value="{{meisai.shop_id}}" {%if meisai.print_ticket_grouping and meisai.print_ticket_grouping.1 %} checked {%endif%}/>Food TicketGroup<br>
    <input type="checkbox" name="drink_print_all" value="{{meisai.shop_id}}" {%if meisai.print_ticket_grouping and meisai.print_ticket_grouping.2 %} checked {%endif%}/>AllTicket２Drink<br>
    <br>月額：<input type="text" name="month_cost" size=5 value="{{meisai.asp_month_cost|default:5000}}"/>
  </td>
  <td>Printer:
	<select name="print_cnt" id="print_cnt">
	    <option value="0" {%if meisai.print_cnt == 0%} selected {%endif%}>無し</option>
	    <option value="1" {%if meisai.print_cnt == 1%} selected {%endif%}>１台</option>
	    <option value="2" {%if meisai.print_cnt == 2%} selected {%endif%}>２台</option>
	    <option value="3" {%if meisai.print_cnt == 3%} selected {%endif%}>３台</option>
	    <option value="4" {%if meisai.print_cnt == 4%} selected {%endif%}>４台</option>
	    <option value="5" {%if meisai.print_cnt == 5%} selected {%endif%}>５台</option>
	    <option value="6" {%if meisai.print_cnt == 6%} selected {%endif%}>６台</option>
	    <option value="7" {%if meisai.print_cnt == 7%} selected {%endif%}>７台</option>
    </select><br>　　　　
	<select name="print_model">
	    <option value="0" {%if meisai.printer_model == 0%} selected {%endif%}>BIXOLON</option>
	    <option value="1" {%if meisai.printer_model == 1%} selected {%endif%}>SEWOO</option>
	    <option value="2" {%if meisai.printer_model == 2%} selected {%endif%}>POSBANK</option>
	    <option value="3" {%if meisai.printer_model == 3%} selected {%endif%}>Gprinter</option>
    </select>
    <br>Handy:
	<select name="handy_cnt" id="handy_cnt">
	    <option value="0" {%if meisai.handy_cnt == 0%} selected {%endif%}>無し</option>
	    <option value="1" {%if meisai.handy_cnt == 1%} selected {%endif%}>１台</option>
	    <option value="2" {%if meisai.handy_cnt == 2%} selected {%endif%}>２台</option>
	    <option value="3" {%if meisai.handy_cnt == 3%} selected {%endif%}>３台</option>
	    <option value="4" {%if meisai.handy_cnt == 4%} selected {%endif%}>４台</option>
	    <option value="5" {%if meisai.handy_cnt == 5%} selected {%endif%}>５台</option>
    </select><br>
    <br>チビ券<br>　上余白:
	<select name="upper_blank_line" id="upper_blank_line">
	    <option value="0" selected>０</option>
	    <option value="1" {%if meisai.ticket_upper_blank == 1%} selected {%endif%}>１</option>
	    <option value="2" {%if meisai.ticket_upper_blank == 2%} selected {%endif%}>２</option>
	    <option value="3" {%if meisai.ticket_upper_blank == 3%} selected {%endif%}>３</option>
	    <option value="4" {%if meisai.ticket_upper_blank == 4%} selected {%endif%}>４</option>
	    <option value="5" {%if meisai.ticket_upper_blank == 5%} selected {%endif%}>５</option>
	    <option value="6" {%if meisai.ticket_upper_blank == 6%} selected {%endif%}>６</option>
	    <option value="7" {%if meisai.ticket_upper_blank == 7%} selected {%endif%}>７</option>
    </select>LINE
    <br>　下余白:
	<select name="lower_blank_line" id="lower_blank_line">
	    <option value="0" selected>０</option>
	    <option value="1" {%if meisai.ticket_lower_blank == 1%} selected {%endif%}>１</option>
	    <option value="2" {%if meisai.ticket_lower_blank == 2%} selected {%endif%}>２</option>
	    <option value="3" {%if meisai.ticket_lower_blank == 3%} selected {%endif%}>３</option>
	    <option value="4" {%if meisai.ticket_lower_blank == 4%} selected {%endif%}>４</option>
	    <option value="5" {%if meisai.ticket_lower_blank == 5%} selected {%endif%}>５</option>
	    <option value="6" {%if meisai.ticket_lower_blank == 6%} selected {%endif%}>６</option>
	    <option value="7" {%if meisai.ticket_lower_blank == 7%} selected {%endif%}>７</option>
    </select>LINE
<!--
    <br>最後余白:
	<select name="last_blank_line" id="last_blank_line">
	    <option value="0" selected>０</option>
	    <option value="1" {%if meisai.ticket_lower_blank == 1%} selected {%endif%}>１</option>
	    <option value="2" {%if meisai.ticket_lower_blank == 2%} selected {%endif%}>２</option>
    </select>LINE
-->
  </td>
  <td>
    <input type="checkbox" name="table_status_option0" value="{{meisai.shop_id}}" {%if meisai.it_table_status.0 %} checked {%endif%}/>終了通報<br>
    <input type="checkbox" name="table_status_option1" value="{{meisai.shop_id}}" {%if meisai.it_table_status.1 %} checked {%endif%}/>時間超過<br>
    <input type="checkbox" name="table_status_option2" value="{{meisai.shop_id}}" {%if meisai.it_table_status.2 %} checked {%endif%}/>会計後に清掃<br>
    <input type="checkbox" name="table_status_option3" value="{{meisai.shop_id}}" {%if meisai.it_table_status.3 %} checked {%endif%}/>中途精算
  </td>
  <td>
     <input type="text" name="multi_lang1" size=5 value="{%if meisai.st_multi_lang and meisai.st_multi_lang.0 %}{{meisai.st_multi_lang.0}}{%endif%}"/><br>
     <input type="text" name="multi_lang2" size=5 value="{%if meisai.st_multi_lang and meisai.st_multi_lang.1 %}{{meisai.st_multi_lang.1}}{%endif%}"/><br>
     <input type="text" name="multi_lang3" size=5 value="{%if meisai.st_multi_lang and meisai.st_multi_lang.2 %}{{meisai.st_multi_lang.2}}{%endif%}"/>
  </td>
</tr>
{% endfor %}

<tr><td colspan="7" class="listline" ></td></tr>
</table>

<br>

<table>
<tr>
	<td width=60 class="listtd1">店舗ID</td>
	<td width=150 class="listtd1">アカウント</td>
	<td width=120 class="listtd1">役割</td>
	<td width=120 class="listtd1">編集権限</td>
	<td width=120 class="listtd1">レジ番号・タイプ</td>
</tr>
{% for meisai in userlist %}
<tr class="listcontent">
  <td align="left">{{ meisai.shop_id }}</td>
  <td align="left">{{ meisai.email_id }}</td>
  <td align="left">
  	{%if meisai.role_flag == 1 %}店長{%else%}
	  	{%if meisai.role_flag == 9 %}会社管理者{%else%}
		  	{{ meisai.role_flag }}：その他
		 {%endif%}
	 {%endif%}
  </td>
  <td align="left">
  	{%if meisai.disabl_edit == 1 %}無し{%endif%}
  </td>
  <td align="left">
  	{{meisai.regi_no|add:"1"}}番レジ{%if meisai.regi_type == 1 %}・物販{%endif%}
  </td>
</tr>
{% endfor %}
<tr><td colspan="5" class="listline" ></td></tr>
</table>
<br>
<input type="submit" class="btn_orange_small" value="確定">　　　　
<input type="button" name="change_shop" class="btn_yellow_small" value="店舗番号変更" onclick="location.href='/sysadmin/changeshop?shop_id={{company_id}}01'">
<input type="button" class="btn_yellow_small" value="管理者リスト"   style="margin-left:60px;"onclick="location.href='/sysadmin/shopuser?company_id={{ company_id }}'">


<script type="text/javascript">
	$('.listtd2').css('text-align', 'left');

    if ($('input[name=asp_period]:eq(0)').prop('checked')) {
		$('#asp_last_month').prop('disabled',false);
    } else {
		$('#asp_last_month').prop('disabled',true);
    }

	$('input[name=asp_period]').click(function() {
	    if ($('input[name=asp_period]:eq(0)').prop('checked')) {
			$('#asp_last_month').prop('disabled',false);
	    } else {
			$('#asp_last_month').prop('disabled',true);
	    }
	});

	function change_shopno(content){
	}

</script>


</form>
{% endblock %}
