{% extends "base.html" %}

{% block contents %}
<form method="POST" id="common">

<input type="text" name="user_id" id="user_id"  value="">

{%if company_id %}
<input type="hidden" name="company_id" id="company_id" value="{{ company_id }}" />
{%endif%}

<table>
<tr>
	<td width=60  class="listtd1">店舗ID</td>
	<td width=150 class="listtd1">アカウント</td>
	<td width=120 class="listtd1">役割</td>
	<td width=120 class="listtd1">編集権限</td>
	<td width=60  class="listtd1">レジ番号</td>
	<td width=120 class="listtd1">レジタイプ</td>
	<td width=60  class="listtd1">管轄グループ</td>
</tr>

{% for meisai in userlist %}
<tr onclick="select_content_local('{{ forloop.counter0 }}')" id="{{ forloop.counter0 }}_tr" class="listcontent">
  <td align="left">{{ meisai.shop_id }}</td>
  <td align="left">[{{ meisai.email_id }}]</td>
  <td align="center">
  	{%if meisai.role_flag == 1 %}店長{%else%}
	  	{%if meisai.role_flag == 9 %}会社管理者
	  	{%else%}
		  	{%if meisai.role_flag == 0 %}アルバイト
		  	{%else%}{{ meisai.role_flag }}：その他
			{%endif%}
		{%endif%}
	 {%endif%}
  </td>
  <td align="center">
  	{%if meisai.disabl_edit == 1 %}無し{%else%}有り{%endif%}
  </td>
  <td align="center">
  	{{meisai.regi_no|add:"1"}}番
  </td>
  <td align="center">
  	{%if meisai.regi_type == 0 %}座席{%endif%}
  	{%if meisai.regi_type == 1 %}物販{%endif%}
  	{%if meisai.regi_type == 2 %}座席・ホール伝票１番目のみ出力{%endif%}
  	{%if meisai.regi_type == 3 %}座席・サブレジ{%endif%}
  	{%if meisai.regi_type == 4 %}新物販{%endif%}
  </td>
  <td align="left">{{ meisai.group_no|default:'' }}</td>
</tr>
{% endfor %}

<tr><td colspan="7" class="listline" ></td></tr>
<tr height="10px"></tr>

<tr>
  <td align="center">
	<input type="text" name="new_shop_id" id="new_shop_id" class="validate required" value="{{meisai.shop_id}}">
   	<div class="errordiv" id="new_shop_id_error"></div>
  </td>

  <td align="center">
	<input type="text" name="account_id" id="account_id" class="validate required">
   	<div class="errordiv" id="account_id_error"></div>
  </td>
  <td align="center">
	<select name="role_flag" id="role_flag">
	    <option value="0">アルバイト</option>
	    <option value="1">店長</option>
	    <option value="9">会社管理者</option>
	</select>
  </td>
  <td align="center">
	<select name="disabl_edit" id="disabl_edit">
	    <option value="0">有り</option>
	    <option value="1">無し</option>
	</select>
  </td>

  <td align="center">
	<select name="regi_no" id="regi_no">
	    <option value="0">１番レジ</option>
	    <option value="1">２番レジ</option>
	    <option value="2">３番レジ</option>
	</select>
  </td>

  <td align="center">
	<select name="regi_type" id="regi_type">
	    <option value="0">座席</option>
	    <option value="1">物販</option>
<!--
	    <option value="2">座席・ホール伝票１番目のみ出力</option>
-->
	    <option value="3">座席・サブレジ</option>
	    <option value="4">新物販</option>
	</select>
  </td>

  <td align="center">
	<select name="group_no" id="group_no">
	    <option value="0">-----</option>
	{% for meisai in company_data.st_group_name %}
	    <option value="{{forloop.counter}}">{{meisai}}</option>
	{% endfor %}
	</select>
  </td>
</tr>

</table>


<input type="hidden" name="del_account" id="del_account">
<br><br>
<input type="submit" name="update_account" class="btn_orange_small" value="アカウント修正" style="width:120px;" onclick="update_content(check_content)">
<input type="submit" name="append_account" class="btn_orange_small" value="アカウント追加" style="width:120px;">
<input type="submit" name="delete_account" class="btn_red_small"    value="アカウント削除" style="width:120px;" onclick="delete_content(check_content)">
{%if company_id %}
<input type="button"  class="btn_yellow_small" value="店舗リスト" style="margin-left:60px;" onclick="location.href='/sysadmin/shoplist?company_id={{ company_id }}'">
{%endif%}
&nbsp;&nbsp;&nbsp;&nbsp;

<input type="button"  class="btn_blue_small" value="管理者検索" style="margin-left:60px;" onclick="search_user()">


<script type="text/javascript">

	var userArray = new Array();

{% for meisai in userlist %}
	var tempArray = new Array();
	tempArray[0] = "{{meisai.email_id}}";
	tempArray[1] = "{{meisai.shop_id}}";
	tempArray[2] = "{{meisai.role_flag}}";
	tempArray[3] = "{{meisai.regi_no}}";
	tempArray[4] = "{{meisai.regi_type}}";
	tempArray[5] = "{{meisai.disabl_edit}}";
	userArray[{{forloop.counter0}}] = tempArray;
{%endfor%}

	function delete_content(content){
		if(content==0){
			alert(unselected_content);
			return false;
		}
		if (confirm(checkDelete)) {
			$('#del_account').val(content);
			return true;
		}
		return false;
	}

	function update_content(content){
		//if(content==0){
		//	alert(unselected_content);
		//	return false;
		//}
		if (confirm(checkUpdate)) {
			return true;
		}
		return false;
	}

	function select_content_local(num){
		select_content(num);

		for(k=0;k<userArray.length;k++) {
			if( k == num) {
				$("#account_id").val( userArray[k][0]);
				$("#new_shop_id").val(userArray[k][1]);
				$("#role_flag").val(  userArray[k][2]);
				$("#regi_no").val(    userArray[k][3]);
				$("#regi_type").val(  userArray[k][4]);
				$("#disabl_edit").val(userArray[k][5]);
			    break;
		    }
		}
	}

	function search_user(){
		user_id = $('#user_id').val();
		company_id = $('#company_id').val();
		document.location.href = '/sysadmin/shopuser?user_id=' + user_id + "&company_id=" + company_id;
	}

</script>


</form>
{% endblock %}