<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="慶州 gyeongju">
  <meta name="author" content="gyeongju, joinsw.com">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>{{title|default:''}} | 慶州 gyeongju</title>
  <meta name="keywords" content="{{title|default:''}},慶州 gyeongju">
  <meta name="description" content="{{control|default:''}} {{title|default:''}} 慶州 gyeongju">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/carousel.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>

  <!-- Custom styles for this template -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  {% block head_javascript %}
  {% endblock %}
</head>
  
  
  
<body>

    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">在日本慶州郷友会</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">慶州 Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Member's Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Member</a>
        </li>
<!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
-->
      </ul>
<!--
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  
-->
    </div>
  </nav>
</header>


<main role="main">
	{% block contents %}
	{% endblock %}

	{% block pagination %}
	{% endblock %}
</main>

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p><a href="http://joinsw.com">連絡先</a></p>
  </footer>


{% block body_javascript %}
{% endblock %}
</body>
</html>
